<!-- views/partials/header.ejs -->

<!-- <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                BURMA
            </a>
    
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/create/cause">Create cause</a></li>
                <li><a href="/create/event">Create event</a></li>
                <li><a href="/create/resource">Upload resources</a></li>
                <li><a href="/create/talkingpoints">Talking Points</a></li>
            </ul>
        </div>
    
    </div>
    </nav> -->

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"><img src="../../../images/b-logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#" onclick="deleteAllCookies();"><img class="svg-ico" src="../../../svg/logout.svg"> <span class="txt-icon">LOG OUT</span> <span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>


    </nav>