<div>
    <div class="form-group">
        <label for="title" class="col-md-3 control-label">Select question type</label>
        <div class="col-md-9">
            <select class="form-control" name="causeId" id="survey-quest-1">
                <option value=""></option>
                    <option value='TEXT' />
                    Description
                </option>
                <option value="MCQ">Choose from option</option>
            </select>
        </div>
    </div>
    <div id="questions-div-1" class="form-group"  style="display: none;">
        <label for="title" class="col-md-3 control-label">Add question</label>
        <div class="col-md-9">
            <input id="survey-question-text-1" type="text" class="form-control" name="title" placeholder="Add question">
        </div>
    </div>
    <div id="options-div-1" style="display: none;">
        <div class="form-group" >
            <label for="title" class="col-md-3 control-label">Add option1</label>
            <div class="col-md-9">
                <input id="survey-question-1-option-1" type="text" class="form-control" name="title" placeholder="Add option1">
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-md-3 control-label">Add option2</label>
            <div class="col-md-9">
                <input id="survey-question-1-option-2" type="text" class="form-control" name="title" placeholder="Add option2">
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-md-3 control-label">Add option3</label>
            <div class="col-md-9">
                <input id="survey-question-1-option-3" type="text" class="form-control" name="title" placeholder="Add option3">
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-md-3 control-label">Add option4</label>
            <div class="col-md-9">
                <input id="survey-question-1-option-4" type="text" class="form-control" name="title" placeholder="Add option4">
            </div>
        </div>
        
    </div>
    <div class="form-group" id="question-button-div-1">
        <!-- Button -->
        <div class="col-md-offset-3 col-md-9">
            <button id="survey-question-submit-1" type="submit" class="btn btn-primary">
                <i class="icon-hand-right"></i> &nbsp Add more question</button>
        </div>
        <div class="col-md-offset-3 col-md-9">
            <button id="survey-final-submit" type="submit" class="btn btn-info survey-final-submit">
                <i class="icon-hand-right"></i> &nbsp Submit</button>
        </div>
    </div>
</div>

<div id="main-question-div-2" style="display:none;">
<div  class="form-group" >
    <label for="title" class="col-md-3 control-label">Select question type</label>
    <div class="col-md-9">
        <select class="form-control" name="causeId" id="survey-quest-2">
            <option value=""></option>
                <option value='TEXT' />
                Description
            </option>
            <option value="MCQ">Choose from option</option>
        </select>
    </div>
</div>
<div id="questions-div-2" class="form-group"  style="display: none;">
    <label for="title" class="col-md-3 control-label">Add question</label>
    <div class="col-md-9">
        <input id="survey-question-text-2" type="text" class="form-control" name="title" placeholder="Add question">
    </div>
</div>
<div id="options-div-2" style="display: none;">
    <div class="form-group" >
        <label for="title" class="col-md-3 control-label">Add option1</label>
        <div class="col-md-9">
            <input id="survey-question-2-option-1" type="text" class="form-control" name="title" placeholder="Add option1">
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="col-md-3 control-label">Add option2</label>
        <div class="col-md-9">
            <input id="survey-question-2-option-2" type="text" class="form-control" name="title" placeholder="Add option2">
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="col-md-3 control-label">Add option3</label>
        <div class="col-md-9">
            <input id="survey-question-2-option-3" type="text" class="form-control" name="title" placeholder="Add option3">
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="col-md-3 control-label">Add option4</label>
        <div class="col-md-9">
            <input id="survey-question-2-option-4" type="text" class="form-control" name="title" placeholder="Add option4">
        </div>
    </div>
    
</div>
<div class="form-group">
    <!-- Button -->
    <div class="col-md-offset-3 col-md-9" id="question-button-div-2">
        <button id="survey-question-submit-2" type="submit" class="btn btn-primary">
            <i class="icon-hand-right"></i> &nbsp Add more question</button>
    </div>
    <div class="col-md-offset-3 col-md-9">
        <button id="survey-final-submit" type="submit" class="btn btn-info survey-final-submit">
            <i class="icon-hand-right"></i> &nbsp Submit</button>
    </div>
</div>
</div>




<div id="main-question-div-3"  style="display:none;">
<div class="form-group" >
    <label for="title" class="col-md-3 control-label">Select question type</label>
    <div class="col-md-9">
        <select class="form-control" name="causeId" id="survey-quest-3">
            <option value=""></option>
                <option value='TEXT' />
                Description
            </option>
            <option value="MCQ">Choose from option</option>
        </select>
    </div>
</div>

<div id="questions-div-3" class="form-group"  style="display: none;">
    <label for="title" class="col-md-3 control-label">Add question</label>
    <div class="col-md-9">
        <input id="survey-question-text-3" type="text" class="form-control" name="title" placeholder="Add question">
    </div>
</div>
<div id="options-div-3" style="display: none;">
    <div class="form-group" >
        <label for="title" class="col-md-3 control-label">Add option1</label>
        <div class="col-md-9">
            <input id="survey-question-3-option-1" type="text" class="form-control" name="title" placeholder="Add option1">
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="col-md-3 control-label">Add option2</label>
        <div class="col-md-9">
            <input id="survey-question-3-option-2" type="text" class="form-control" name="title" placeholder="Add option2">
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="col-md-3 control-label">Add option3</label>
        <div class="col-md-9">
            <input id="survey-question-3-option-3" type="text" class="form-control" name="title" placeholder="Add option3">
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="col-md-3 control-label">Add option4</label>
        <div class="col-md-9">
            <input id="survey-question-3-option-4" type="text" class="form-control" name="title" placeholder="Add option4">
        </div>
    </div>
    
</div>
<div class="form-group" id="question-button-div-3">
    <!-- Button -->
    <div class="col-md-offset-3 col-md-9">
        <button id="survey-question-submit-3" type="submit" class="btn btn-primary">
            <i class="icon-hand-right"></i> &nbsp Add more question</button>
    </div>
    <div class="col-md-offset-3 col-md-9">
        <button id="survey-final-submit" type="submit" class="btn btn-info survey-final-submit">
            <i class="icon-hand-right"></i> &nbsp Submit</button>
    </div>
</div>
</div>




<div id="main-question-div-4"  style="display:none;">
<div class="form-group" >
    <label for="title" class="col-md-3 control-label">Select question type</label>
    <div class="col-md-9">
        <select class="form-control" name="causeId" id="survey-quest-4">
            <option value=""></option>
                <option value='TEXT' />
                Description
            </option>
            <option value="MCQ">Choose from option</option>
        </select>
    </div>
    </div>
    <div id="questions-div-4" class="form-group"  style="display: none;">
    <label for="title" class="col-md-3 control-label">Add question</label>
    <div class="col-md-9">
        <input id="survey-question-text-4" type="text" class="form-control" name="title" placeholder="Add question">
    </div>
    </div>
    <div id="options-div-4" style="display: none;">
    <div class="form-group" >
        <label for="title" class="col-md-3 control-label">Add option1</label>
        <div class="col-md-9">
            <input id="survey-question-4-option-1" type="text" class="form-control" name="title" placeholder="Add option1">
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="col-md-3 control-label">Add option2</label>
        <div class="col-md-9">
            <input id="survey-question-4-option-2" type="text" class="form-control" name="title" placeholder="Add option2">
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="col-md-3 control-label">Add option3</label>
        <div class="col-md-9">
            <input id="survey-question-4-option-3" type="text" class="form-control" name="title" placeholder="Add option3">
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="col-md-3 control-label">Add option4</label>
        <div class="col-md-9">
            <input id="survey-question-4-option-4" type="text" class="form-control" name="title" placeholder="Add option4">
        </div>
    </div>

    </div>
    <div class="form-group" id="question-button-div-4">
    <!-- Button -->
    <div class="col-md-offset-3 col-md-9">
        <button id="survey-question-submit-4" type="submit" class="btn btn-primary">
            <i class="icon-hand-right"></i> &nbsp Add more question</button>
    </div>
    <div class="col-md-offset-3 col-md-9">
        <button id="survey-final-submit" type="submit" class="btn btn-info survey-final-submit">
            <i class="icon-hand-right"></i> &nbsp Submit</button>
    </div>
</div>
</div>




<div id="main-question-div-5" style="display:none;">
<div class="form-group" >
    <label for="title" class="col-md-3 control-label">Select question type</label>
    <div class="col-md-9">
        <select class="form-control" name="causeId" id="survey-quest-5">
            <option value=""></option>
                <option value='TEXT' />
                Description
            </option>
            <option value="MCQ">Choose from option</option>
        </select>
    </div>
</div>
<div id="questions-div-5" class="form-group"  style="display: none;">
    <label for="title" class="col-md-3 control-label">Add question</label>
    <div class="col-md-9">
        <input id="survey-question-text-5" type="text" class="form-control" name="title" placeholder="Add question">
    </div>
</div>
<div id="options-div-5" style="display: none;">
    <div class="form-group" >
        <label for="title" class="col-md-3 control-label">Add option1</label>
        <div class="col-md-9">
            <input id="survey-question-5-option-1" type="text" class="form-control" name="title" placeholder="Add option1">
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="col-md-3 control-label">Add option2</label>
        <div class="col-md-9">
            <input id="survey-question-5-option-2" type="text" class="form-control" name="title" placeholder="Add option2">
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="col-md-3 control-label">Add option3</label>
        <div class="col-md-9">
            <input id="survey-question-5-option-3" type="text" class="form-control" name="title" placeholder="Add option3">
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="col-md-3 control-label">Add option4</label>
        <div class="col-md-9">
            <input id="survey-question-5-option-5" type="text" class="form-control" name="title" placeholder="Add option4">
        </div>
    </div>
    
</div>
<div class="form-group" id="question-button-div-5">
    <!-- Button -->
    <!-- <div class="col-md-offset-3 col-md-9">
        <button id="survey-question-submit-5" type="submit" class="btn btn-primary">
            <i class="icon-hand-right"></i> &nbsp Add more question</button>
    </div> -->
    <div class="col-md-offset-3 col-md-9">
        <button id="survey-final-submit" type="submit" class="btn btn-info survey-final-submit">
            <i class="icon-hand-right"></i> &nbsp Submit</button>
    </div>
</div>
</div>